body{
  font-family:Arial;
  background:#fff;
  margin:0;
  padding:20px;
}

.container{
  max-width:1200px;
  margin:auto;
}

.sub{
  color:#666;
}

.config{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
  margin:20px 0;
  padding:20px;
  border:1px solid #ddd;
  border-radius:10px;
}

.config input,
.config select{
  width:100%;
  padding:10px;
  margin-top:5px;
}

.upload{
  border:2px dashed #bbb;
  padding:50px;
  text-align:center;
  border-radius:10px;
}

.upload.drag{
  background:#f3f3f3;
}

#fileInput{
  margin-bottom:15px;
}

.card{
  border:1px solid #ddd;
  border-radius:10px;
  padding:10px;
  margin-top:15px;
}

.card img{
  width:100%;
  max-width:250px;
  height:180px;
  object-fit:contain;
  background:#f3f3f3;
}

.rename{
  width:100%;
  margin-top:10px;
  padding:10px;
}

#convertBtn{
  margin-top:30px;
  width:100%;
  padding:16px;
  border:none;
  border-radius:10px;
  background:#111;
  color:#fff;
  cursor:pointer;
}
